<div class="container">
    <div class="row">
        <div class="col s4 m4 l4" *ngFor="let hero of heroes">
            <div class="card card-airline">
                <div class="card-image">
                    <img src="{{airline.thumbnail.path}}.{{airline.thumbnail.extension}}" alt="">
                    <div class="card-action">
                        <p><a href="#">{{airline.name}}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
